<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Maintenance in Progress</title>
        <style>
            body,
            html {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
            }

            .centered-content {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                height: 100%;
                flex-direction: column;
            }
        </style>
    </head>
    <body>
        <div class="centered-content">
            <h1>Maintenance is Occurring</h1>
            <p>
                Everything is currently fatally broken in the meantime... Check
                out this burger:
            </p>
            <img
                src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/spicy-burger-with-juicy-patty-melted-cheese-ketchup-vegetable-yuliia-bukovska.jpg"
                alt="Burger Image"
                style="max-width: 100%; height: auto"
            />
        </div>
    </body>
</html>
